.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.container {
  text-align: center;
  top: 50%;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


#searchform {
  display: flex;
  justify-content: flex-end; /* Alinha o conteúdo (input e botão) à direita */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  width: 100%; /* Faz o formulário ocupar toda a largura */
}

#searchinput {
  padding-right: 10px; /* Adiciona um pequeno espaço entre o texto e a borda direita */
  margin-right: 10px; /* Adiciona um espaço entre o input e o botão */
  width: 200px; /* Define uma largura fixa para o input */
}

h1 {
  font-size: 15px;
  background-color: #004292;
  
}

.sinopsenba {
  background-color: #004292;
}

.nbasite {
  text-align: center;
}

body {
  background-color: #004292;
}

.proximosjogos {
  text-align: left;
}

/* PLACAR DA NBA AO VIVO */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f5f5f5;
}
#placar {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-top: 20px;
}
.jogo {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.time {
  font-weight: bold;
}

/* cestinhas, mvp e conferencias */
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
